.transaction_history {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  color: black;
}
/* .table_head {
} */

.table_raw_head {
  background-color: gray;
}

.table_raw {
  background-color: rgb(206, 203, 203);
}
